body {
    font-size: 20px;
}

a {
    text-decoration: none;
}

a.header-logo {
    font-size: 60px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

li {
    margin-right: 30px;
}