html, body {
    height: 100%;
}

.box {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100%;
    height: 100%;
    gap: 35px;
}

.sidebar {
    background-color: #66bca2;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}